:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  background-color: var(--light);
}

.card {
  border: 0.5rem;
  border-style: solid;
  border-color: black;
  padding: 1rem;
  margin: 1rem;
}

img {
  width: 15rem;
}
.card-container {
  border: 0.4rem;
  border-style: solid;
  border-color: blueviolet;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 2.25rem;
}
